{% extends 'base.html' %}
{% block title %} Edit Blog Post {% endblock %}
{% block content %}

<h1>Edit Post...</h1>
{{ user.id }}
{{ post.author.id }}
{{ user.is_authenticated }}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post<button>
        </div>
    {% else %}
        <h1>Permmision Error</h1>
        <p>post.author:{{ post.author }} is only edit.</p>
    {% endif %}
{% endif %}

{% endblock %}
